.cta-container {
  min-height: 40vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #242021;
  color: #fff;
  padding: 40px 20px;
}

.cta-content {
  max-width: 1200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.cta-header {
  font-size: 48px;
  font-family: "Montserrat", sans-serif;
  color: #fff;
  text-align: center;
  margin: 0;
  font-weight: 200;
  line-height: 1.2;
}

.cta-header:first-of-type {
  margin-bottom: -10px;
}

.cta-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 100px;
  margin-top: 40px;
}

.cta-buttons .btn {
  width: 320px;
  font-size: 20px;
  padding: 18px 30px;
}

.cta-buttons .btn i {
  margin-right: 4px;
}

@media screen and (max-width: 1250px) {
  .cta-header {
    font-size: 36px;
  }

  .cta-buttons {
    gap: 60px;
  }

  .cta-buttons .btn {
    width: 280px;
    font-size: 18px;
  }
}

@media screen and (max-width: 768px) {
  .cta-container {
    padding: 20px 20px;
  }

  .cta-header {
    font-size: 28px;
  }

  .cta-buttons {
    flex-direction: column;
    gap: 30px;
    width: 100%;
  }

  .cta-buttons .btn {
    width: 100%;
    max-width: 300px;
    min-width: 300px;
  }
}

@media screen and (max-width: 320px) {
  .cta-buttons .btn {
    width: 90vw;
    max-width: 90vw;
    min-width: 90vw;
    padding-left: 0;
    padding-right: 0;
  }
}
