.hero-container video,
.hero-container img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  /* filter: blur(3px); */
}
/* 
@media screen and (max-width: 764px) {
  video {
    display: none;
  }
} */

.hero-container {
  /* background: url('/images/img-home.jpg') center center/cover no-repeat; */
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 15vh;
  gap: 30px;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  object-fit: contain;
}

.hero-header-container {
  display: flex;
  align-items: center;
}

.hero-header-container > h1 {
  color: #fff;
  font-size: 72px;
  margin-top: -56px;
  padding: 18px;
  margin: auto;
  font-weight: 200;
}

.hero-container > p,
.hero-info {
  margin-top: -5px;
  color: #fff;
  font-size: 32px;
  font-family:
    "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
}

.hero-info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 200px;
  padding: 12px;
}

.hero-features {
  list-style: disc;
  color: #fff;
  font-size: 28px;
  font-family: "Montserrat", sans-serif;
  padding-left: 30px;
  margin: 0;
}

.hero-features li {
  margin: 12px 0;
  font-weight: 400;
}

.hero-text {
  display: flex;
  justify-content: flex-start;
}

.status-open {
  color: green;
}

.status-closed {
  color: rgb(185, 0, 0);
}

.hero-btns {
  display: flex;
  flex-direction: column;
  align-items: center;

  .btn {
    width: 264px;
  }
}

.hero-hours {
  margin-left: 60px;
}

.hero-btns .btn {
  margin: 12px 6px;
}

.hero-btns .btn i {
  margin-right: 4px;
}

.fa-play-circle {
  margin-left: 4px;
}

@media screen and (max-width: 400px) {
  .hero-header-container > h1 {
    font-size: 30px !important;
  }

  .hero-header-container {
    margin-top: -40px;
  }

  .hero-container {
    gap: 8px !important;
  }

  .hero-info {
    font-size: 20px;
  }
}

@media screen and (max-width: 900px) {
  .hero-features {
    font-size: 24px;
  }
}

@media screen and (max-width: 960px) {
  .hero-container {
    gap: 15px;
    margin-top: -50px;
  }
  .hero-header-container {
    text-align: center;
  }
  .hero-header-container > h1 {
    font-size: 50px;
  }

  .hero-text {
    flex-direction: column;
    align-items: left;
    text-align: center;
  }

  .hero-hours {
    padding-top: 12px;
    margin-left: 0;
  }

  .hero-info {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 12px;
    padding-left: 12px;
    gap: 20px;
  }

  .hero-features {
    font-size: 20px;
    text-align: left;
    width: auto;
    align-self: center;
  }

  .hero-btns {
    margin: 0;
    padding: 0;
  }
}

@media screen and (max-width: 768px) and (min-width: 401px) {
  .hero-container > h1 {
    font-size: 50px;
    margin-top: -100px;
  }

  .hero-container > p,
  .hero-info {
    font-size: 30px;
  }

  .btn-mobile {
    display: block;
    text-decoration: none;
  }

  .btn {
    width: 100%;
  }
}

@media screen and (max-width: 1380px) and (min-width: 961px) {
  .hero-text {
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 12px;
    align-items: center;
    gap: 40px;
  }
  .hero-info {
    padding-left: 80px;
    justify-content: center;
  }

  .hero-buttons {
    padding-right: 12px;
  }

  .hero-container {
    justify-content: flex-start;
  }

  .hero-header-container {
    margin-top: 10vh;
  }
}
